* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #edf8ff;
}

.box {
  position: relative;
  width: 400px;
  height: 500px;
  background: #fff;
  margin: 40px;
  box-shadow: 25px 25px 0 rgba(0, 0, 0, 0.05);
}
.bottom {
  position: absolute;
  bottom: 0;
  left: 50%; /* 親要素基準の50% 子要素（これ）の左上が親の中央に来る感じ */
  transform: translateX(
    -50% /* 子要素基準の-50% この場合、子要素の横幅の半分の大きさ160px分左にずらす感じ*/
  );
  width: 320px;
  height: 180px;
  background-color: #fb6971;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  z-index: 9;
  overflow: hidden; /*.bottomの子要素のspan部分は、.bottomを超えた範囲以降は隠されるようにした*/
}

.bottom::before {
  content: '';
  position: absolute;
  top: 80px;
  left: 97px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  z-index: 1;
  border-radius: 50%;
}

.bottom::after {
  content: '';
  position: absolute;
  top: 80px;
  right: 97px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  z-index: 1;
  border-radius: 50%;
}

.bottom span {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 100px;
  background-color: #6192a1;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.bottom span::before {
  content: ''; /* span::before + content:'';とすることで、spanの開始タグに''という空文字を付与 */
  position: absolute;
  top: -90px;
  left: 10px;
  width: 30px;
  height: 100px;
  background-color: #6192a1;
  transform: rotate(345deg);
}

.bottom span::after {
  content: ''; /* span::before + content:'';とすることで、spanの開始タグに''という空文字を付与 */
  position: absolute;
  top: -90px;
  right: 10px;
  width: 30px;
  height: 100px;
  background-color: #6192a1;
  transform: rotate(15deg);
}

.neck {
  position: absolute;
  bottom: 140px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 100px;
  background-color: #ffcfcc;
  z-index: 10;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.neck::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), transparent);
}

.face {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  width: 160px;
  height: 180px;
  background: #ffcfcc;
  border-radius: 50%;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  z-index: 12;
}

.eyes {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 65%; /* この親要素eyesにこの横幅があることで、子要素eyeの可動域が広がり、子要素同士の距離がjustify-contentで保たれる */
}

.eyes .eye {
  position: relative;
  width: 45px;
  height: 45px;
}

.eyes .eye::before {
  /* 眉毛 */
  content: '';
  position: absolute;
  top: -8px;
  left: 0;
  width: 100%;
  height: 50%;
  /* background-color: #f00; */
  background: transparent;
  border-radius: 50%;
  box-shadow: 0 -3px 0 #111; /* box-shadowは、左右px 上下px ぼかしpx 色 */
}

.eyes .eye i {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
}

.eyes .eye i::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #111; /* 瞳孔 */
  border-radius: 50%;
  box-shadow: 0 0 0 5px #3d5d89; /* 虹彩 */
  transform: translate(-10px, 2px);
}

.mouth {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 30px;
  background-color: #ff4e57;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: inset 0 10px 0 rgba(0, 0, 0, 0.2); /* insetオプションで、内側に影を作る */
}

.face:hover .mouth {
  height: 15px;
  width: 70px;
  bottom: 40px;
  border-radius: 30px;
}

.face:hover {
  cursor: pointer;
}

.hair {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 230px;
  height: 450px;
  background-color: #111;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
}
